.watch__container {
  display: flex;
  padding: 25px 8%;
}


.video__section {
  flex: 7.5;
  padding: 0 2%;
}

.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .video__meta {
    font-size: 14px;
    opacity: 0.7;
  }
}

.divider {
  background-color: #454545;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.video__owner {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
  .basic__avatar {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    font-size: 21px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 19px;
  }
  .video__owner-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 16px;
  }
}

.owner__option {
  a {
    display: block;
    &:first-child {
      margin-bottom: 8px;
    }
  }
}

.video__data2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 10px 64px;
  .video__description {
    margin-bottom: 20px;
  }
  .video__hashtags {
    color: #2DA6FF;
  }
}

.video__add-comments {
  .video__comment-form {
    display: flex;
    width: 80%;
    margin: 0 auto;
    textarea {
      width: 100%;
      height: 20px;
      align-self: center;
      resize: none;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0,0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
      outline: none;
      padding: 10px;
    }
    button {
      border-radius: 5px;
      background-color: #3EA6FF;
      color: black;
      text-align: center !important;
      cursor: pointer;
      display: block;
      font-weight: 600;
      border: none;
      &:focus {
        outline: none;
      }
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}

#video__comments {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  .video__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    border-radius: 3px;
    .video__comment-left {
      i {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.more__video {
  flex: 2.5;
}

.more__video-mixin {
  display: flex;
  margin-bottom: 12px;
  &:hover {
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
  }
  .more__video-mixin__thumb {
    height: 100px;
    border-radius: 1px;
    width: 180px;
    background-color: ivory;
    margin-right: 8px;
  }
}

.more__video-mixin__data {
  display: flex;
  flex-direction: column;
  .more__video-mixin__title {
    font-size: 18px;
    width: 100%;
    margin-bottom: 8px;
  }
  .more__video-mixin__username {
    color: #AAAAAA;
    font-size: 14px;
    margin-bottom: 8px;
    &:hover {
      color: white;
    }
  }
  .more__video-mixin__views {
    font-size: 14px;
    color: #AAAAAA;
  }
}
