.search__form {
  display: flex;
  align-items: center;
  width: 40%;
  .search__bar {
    all: unset;
    display: block;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    border-radius: 3px 0 0 3px;
    font-size: 14px; 
    color: white;
  }
  .search__btn {
    all: unset;
    display: block;
    width: 80px;
    height: 33px;
    font-size: 16px;
    border-radius: 0 3px 3px 0;
    background-color: #313131;
    text-align: center;
    cursor: pointer;
    color: #888888;
  }
}

.video__search-list {
  padding: 40px 3%;
  flex: 8.3;
  .video-mixin {
    display: flex;
    padding: 10px 0;
    .video-mixin__thumb {
      width: 360px;
      height: 190px;
      margin-right: 18px;
    }
  }
}
