.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.temp__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 70px;
  text-align: center;
  line-height: 150px;
  border: 2px solid white;
  border-radius: 50%;
}

#menu {
  flex: 1.7;
  background-color: #202020;
  min-width: 200px;
  li {
    padding: 14px 20px;
    cursor: pointer;
    i {
      display: inline-block;
      width: 20px;
      color: #949494;
      margin-right: 20px;
      font-size: 20px;
      text-align: center;
    }
    span {
      font-size: 16px;
    }
    &:hover {
      background-color: #646464;
      i {
        color: white;
      }
    }
  }
  .divider {
    margin: 10px 0;
  }
  .menu__title {
    color: #848494;
    font-weight: 600;
    padding: 10px 20px;
  }
}