div#menu
  ul
      li
          i.fas.fa-home
          span Home
      li
          i.fas.fa-compass
          span Explore
      li
          i.fab.fa-youtube-square
          span Subscriptions
      div.divider
      li
          i.fas.fa-folder
          span Folder
      li
          i.fas.fa-history
          span History
      li
          i.fas.fa-clock
          span Watch later
      li
          i.fas.fa-tag
          span Purchases
      li 
          i.fas.fa-thumbs-up
          span Liked videos
      div.divider
      div.menu__title MORE FROM YOUTUBE
      li 
          i.fab.fa-youtube
          span YouTube Premium
      li 
          i.fas.fa-film
          span Movies & Shows
      li 
          i.fas.fa-gamepad
          span Gaming
      li 
          i.fas.fa-broadcast-tower
          span Live
      li 
          i.fas.fa-lightbulb
          span Learning
      li 
          i.fas.fa-trophy
          span Sports
      div.divider
      li 
          i.fas.fa-cog
          span Settings
      li 
          i.fas.fa-flag
          span Report history
      li 
          i.fas.fa-question-circle
          span Help
      li 
          i.fas.fa-exclamation-circle
          span Send feedback